[submodule "investigator_extractor"]
	path = investigator_extractor
	url = https://github.com/GrauKatze/investigator_extractor.git
	branch = devel
[submodule "investigator_analyst"]
	path = investigator_analyst
	url = https://github.com/GrauKatze/investigator_analyst.git
	branch = devel
[submodule "investigator_panel"]
	path = investigator_panel
	url = https://github.com/GrauKatze/investigator_panel.git
	branch = devel
[submodule "investigator_register"]
	path = investigator_register
	url = https://github.com/GrauKatze/investigator_register.git
	branch = devel
[submodule "investigator_inspector"]
	path = investigator_inspector
	url = https://github.com/GrauKatze/investigator_inspector.git
	branch = devel
